.div-home-page {
  background-color: #6c757d;
  flex-grow: 1;
  color: #fff;
  .inputs {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
  }
  .top-btn {
    margin: 10px;
  }
}
